<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>{{ person.id }} -- {{ person.name }}</div>
    <form action="{% url 'update' person.id %}" method="POST">
      {% csrf_token %}
      <input type="text" name="name" value="{{person.name}}" />
      <button type="submit">Update</button>
      <button type="submit">Update</button>
    </form>
  </body>
</html>
