<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Hello</div>

    <ul>
      {%for person in people%}
      <li>
        {{ person.id }} - {{person.name }}
        <a href="{% url 'getObject' person.id %}">Update</a>
        <a href="{% url 'delete' person.id %}">Delete</a>
      </li>
      {% endfor%}
    </ul>
    <form action="{% url 'save' %}" method="post">
      {% csrf_token %}
      <input type="text" name="name" />
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
